@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');

@keyframes fadeIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-20px);
    opacity: 0;
  }
}

// Applicazione dell'animazione agli elementi di testo
.text-animate {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;

  &.visible {
    animation: fadeIn 0.8s forwards;
  }

  &.invisible {
    animation: fadeOut 0.8s forwards;
  }
}

.navbar{
  height: 0;
  .container{
    height: auto;
    .logo{
      font-family: "The Nautigal", cursive;
      font-size: 2.5rem;
      color: var(--lightGray);
    }
  }
}

@media screen and (min-width: 985px) {
  .navbar{
    margin-bottom: 40px;
  }
}


