<div class="navbar d-flex">

  <div class="container-fluid d-flex justify-content-center">
    <div class="d-flex">
      <ul class="navbar-nav d-flex flex-row gap-4">
        <li class="nav-item listContainer">
          <a class="nav-link active activeLinks" routerLink="/">Home</a>
        </li>
        <li class="nav-item listContainer">
          <a class="nav-link active activeLinks" routerLink="/">Contact</a>
        </li>
        <li class="nav-item listContainer">
          <a class="nav-link active activeLinks" routerLink="/">About me</a>
        </li>
      </ul>
    </div>
  </div>

</div>
