

.hero-section {
  margin-top: 50px;
  visibility: hidden;

  .carousel {
    max-width: 600px;
    margin: 0 auto;
    transition: transform;
    img {
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}


.hero-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  .btn {
    color: rgb(218, 178, 0);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid rgb(218, 178, 0);
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    font-family: "Poppins";
  }

  .btn:hover {
    color: black;
  }

  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: rgb(218, 178, 0);
    z-index: -1;
    transition: all 1s;
  }

  .btn:hover::before {
    width: 160%;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  margin-top: 55px;
}

p {
  font-size: 1.2rem;
  margin-top: 25px;
  color: white;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
}

.hero-image {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  .imgProfile {
    max-width: 90%;
    filter: drop-shadow(1rem 1rem 0rem rgb(147, 81, 19));
    padding: 10px;
    transition: 0.1s;
    cursor: pointer;
    &:hover{
      transition: 0.2s;
      transform: scale(1.1);
    }
  }
}

.hero-section.visible {
  visibility: visible;
}

.hero-section.visible .hero-text,
.hero-section.visible .hero-image {
  opacity: 1;
  transform: translateY(0);
}
