.hero-section {
  margin-top: 50px;
  visibility: visible;

  .image-slider {
    overflow: hidden;
    width: 100%;
    height: 110px; // Altezza regolabile
    margin-top: 40px;
    background-color: rgb(23, 23, 23);
    border-radius: 15px;

    .slider-track {
      display: flex;
      align-items: center;
      animation: slide 10s linear infinite;
      gap: 10px;

      .slide {
        height: 100%; // Altezza delle immagini
        flex-shrink: 0;
        padding: 15px;
        transition: transform 0.5s ease-in-out;
      }
    }

    @keyframes slide {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%);
      }

      // Scorrimento lungo metà della larghezza della traccia
    }

    // Media query per dispositivi grandi
    @media screen and (min-width: 1200px) {
      .slider-track {
        gap: 20px; // Maggiore spazio tra le immagini

        .slide {
          width: calc(100% / 17); // Adatta la larghezza per schermi grandi
        }
      }
    }

    // Media query per dispositivi medi
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .slider-track {
        gap: 15px; // Spazio tra le immagini

        .slide {
          width: calc(100% /12); // Adatta la larghezza per schermi medi
        }
      }
    }

    @media screen and (min-width: 431px) and (max-width: 767px) {
      .slider-track {
        gap: 10px;

        .slide {
          width: calc(100% / 8); // Adatta la larghezza per schermi piccoli
        }
      }
    }

    // Media query per dispositivi piccoli
    @media screen and (max-width: 430px) {
      height: 90px; // Riduzione dell'altezza per dispositivi piccoli

      .slider-track {
        gap: 10px;

        .slide {
          width: calc(100% / 6); // Adatta la larghezza per schermi piccoli
        }
      }
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deepBlue);
    color: var(--lightGray);
    margin: 50px 0 50px 0;
    border-radius: 15px;
    gap: 60px;
    transition: 1s;
    padding: 20px;

    &:hover {
      background-color: var(--darkBlue);
    }

    .about-me {
      font-size: 2.5rem;
      font-weight: bold;
      transition: 1s;

      span {
        font-size: 0.8rem;
        font-style: italic;
        font-weight: 400;
      }
    }

    .didascalia {
      max-width: 60%;

      span {
        font-style: italic;
        font-weight: bold;
      }
    }

    // Media query for smaller devices
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
      text-align: center;

      .about-me {
        font-size: 2rem;
      }

      .didascalia {
        max-width: 100%;
        font-size: 1rem;
      }
    }
  }

  .intro {
    font-size: 1.8rem;
    text-align: center;
  }

  .project {
    flex-direction: row;
    margin: 0 0 20px 0;
    height: 350px;

    .title-card {
      text-align: center;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 600;
    }

    .progetto {
      display: flex;
      justify-content: space-evenly;

      .img {
        .card {
          max-width: 500px;
          height: 300px;
          perspective: 1000px;
          background-color: #212A31;
          border: none;
        }

        .card-inner {
          width: 100%;
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 0.999s;
        }

        .card:hover .card-inner {
          transform: rotateY(180deg);
        }

        .card-front,
        .card-back {
          position: absolute;
          max-width: 100%;
          height: auto;
          backface-visibility: hidden;
        }

        .card-front {
          width: auto;
          border-radius: 10px;
          transform: rotateY(0deg);
        }

        .card-back {
          width: auto;
          border-radius: 10px;
          transform: rotateY(180deg);
        }
      }

      .text {
        padding: 10px 15px 0 15px;
        margin: 0 5px 0 0;
        max-height: 225px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--lightBlue) transparent;

        &::-webkit-scrollbar {
          width: 8px;

        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--lightBlue);
          border-radius: 80px;
          border: 1px solid transparent;
          background-clip: content-box;
        }

        &::-webkit-scrollbar-button {
          display: none;
          height: 0;
          width: 0;
          color: transparent;
          background-color: transparent;

        }
      }
    }
  }
}

.hero-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  .btn {
    color: var(--deepBlue);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    font-family: "Poppins";
    margin-bottom: 8px;
  }

  .btn:hover {
    color: black;
  }

  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: var(--lightBlue);
    z-index: -1;
    transition: all 1s;
  }

  .btn:hover::before {
    width: 160%;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--lightGray);
  font-family: "Poppins";
  font-style: normal;
  margin-top: 55px;
}

p {
  font-size: 1.2rem;
  margin-top: 25px;
  color: var(--lightGray);
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;

  .glow {
    font-style: normal;
    font-weight: bold;
    color: var(--deepBlue);
  }
}

.hero-image {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  .imgProfile {
    max-width: 90%;
    filter: drop-shadow(1rem 1rem 0rem var(--deepBlue));
    padding: 10px;
    margin: 10px 0 10px 0;
    transition: 0.1s;
    cursor: pointer;
    border-radius: 6%;

    &:hover {
      transition: 0.2s;
      transform: scale(1.05);
    }
  }
}

.hero-section.visible {
  visibility: visible;
}

.hero-section.visible .hero-text,
.hero-section.visible .hero-image {
  opacity: 1;
  transform: translateY(0);
}
