<div class="hero-section container">
  <div class="row align-items-center">
    <div class="col-md-6 hero-text">
      <h1>Ciao, sono Dario!</h1>
      <p>"Sono un giovane <span class="glow">sviluppatore fullstack</span> di 21 anni con una forte passione per
        l'informatica ed i motori. Esplora il mio portfolio per
        scoprire i progetti a cui ho lavorato e le competenze che sto sviluppando."</p>
      <button class="btn">
        DOWNLOAD CV
      </button>
    </div>
    <div class="col-md-6 text-center hero-image">
      <img src="../../assets/Progetto senza titolo (1).jpg" alt="Profile Picture" id="profilePic"
        class="img-fluid imgProfile" />
    </div>
  </div>

  <div class="image-slider">
    <div class="slider-track">
      <img src="../../assets/html.png" alt="Image 1" class="slide">
      <img src="../../assets/css.png" alt="Image 2" class="slide">
      <img src="../../assets/js.png" alt="Image 3" class="slide">
      <img src="../../assets/typescript.png" alt="Image 3" class="slide">
      <img src="../../assets/angular.png" alt="Image 3" class="slide">
      <img src="../../assets/boostrap.png" alt="Image 3" class="slide">
      <img src="../../assets/sass.png" alt="Image 3" class="slide">
      <img src="../../assets/java.png" alt="Image 3" class="slide">
      <img src="../../assets/vsc.png" alt="Image 3" class="slide">
      <img src="../../assets/intellij.png" alt="Image 3" class="slide">
      <img src="../../assets/pg-admin.png" alt="Image 3" class="slide">
      <img src="../../assets/spring-boot-logo.png" alt="Image 3" class="slide">
      <img src="../../assets/sql.png" alt="Image 3" class="slide">
      <!-- Repeat the images to create an infinite effect -->
      <img src="../../assets/html.png" alt="Image 1" class="slide">
      <img src="../../assets/css.png" alt="Image 2" class="slide">
      <img src="../../assets/js.png" alt="Image 3" class="slide">
      <img src="../../assets/typescript.png" alt="Image 3" class="slide">
      <img src="../../assets/angular.png" alt="Image 3" class="slide">
      <img src="../../assets/boostrap.png" alt="Image 3" class="slide">
      <img src="../../assets/sass.png" alt="Image 3" class="slide">
      <img src="../../assets/java.png" alt="Image 3" class="slide">
      <img src="../../assets/vsc.png" alt="Image 3" class="slide">
      <img src="../../assets/intellij.png" alt="Image 3" class="slide">
      <img src="../../assets/pg-admin.png" alt="Image 3" class="slide">
      <img src="../../assets/spring-boot-logo.png" alt="Image 3" class="slide">
      <img src="../../assets/sql.png" alt="Image 3" class="slide">
    </div>
  </div>

  <div class="main container">
    <p class="about-me">About me
      <br>
      <span>Scopri di più sulla mia vita <i class="bi bi-arrow-right"></i> </span>
    </p>
    <p class="didascalia">Nel corso della mia carriera professionale ho avuto l'opportunita di sviluppare competenze in
      diversi ambiti come quello meccanico e quello artigianale, ma alla fine ho optato per intraprende un percorso
      formativo nell'ambito tech, presso Epicode, come <span>Web Developer Fullstack</span>. Al termine di questo
      fantastico percorso, che mi ha permesso di sviluppare diverse competenze, ho deciso di presentare un progetto che
      mi sta tanto a cuore, in quanto unisce le mie due più grandi passioni,ovvero motori e sviluppo, in un social
      network chiamato Geargramm (che è ancora in fase di sviluppo e verrà pubblicato entro e non oltre la fine del
      2025). Oltre a questo ho avuto l'opportunita di sviluppare tantissimi progetti interessanti, sia in singolo, sia
      in gruppo, facendo squadra con la maggior parte dei colleghi di corso. </p>
  </div>

  <p type="button" placement="top" tooltipClass="custom" ngbTooltip="Scorri con il puntatore sull'immagine oppure cliccaci sopra per vedere il retro!" class="intro">Dai un occhiata a tutti i miei progetti!</p>

  <div class="project container">
    <p class="title-card">Quiz a risposta multipla</p>
    <div class="progetto">
      <div class="col-6 img">
        <div class="card">
          <div class="card-inner">
            <img class="card-front" src="../../assets/Screenshot 2024-08-28 181121.png" alt="front-image">
            <img class="card-back" src="../../assets/Screenshot 2024-08-28 181157.png" alt="back-image">
          </div>
        </div>
      </div>
      <div class="col-6 text">
        <p class="description">In questo progetto sviluppato unicamente in front-end abbiamo realizzato un test con inizialmente un accettazione delle condizioni, di seguito abbiamo inserito circa 20 domande a scelta multipla cronometrate con un timer di 60 secondi, che avrebbe skippato la domanda in caso di non risposta nel tempo prestabilito. Al termine delle domande sarebbe apparso un grafico a torta con la percentuale ed il numero esatto di domande esatte ed errate, accompagnato ovviamente da un messaggio diverso a seconda dell'esito. Le tecnologie utilizzate sono state: HTML5, CSS e Javascript.</p>
      </div>
    </div>
  </div>

  <div class="project container">
    <p class="title-card">Clone di Netflix</p>
    <div class="progetto">
      <div class="col-6 text">
        <p class="description">Uno dei primi progetti realizzati in solitaria è stato proprio questo clone della homepage di Netflix, che aveva lo scopo di farci apprendere i fondamentali di CSS ma soprattutto di flexbox. Le tecnologie utilizzate sono unicamente HTML5 e CSS.</p>
      </div>
      <div class="col-6 img">
        <div>
          <div class="card-inner">
            <img class="card-front" src="../../assets/Screenshot 2024-08-29 114015.png" alt="front-image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project container">
    <p class="title-card">Clone di spotify</p>
    <div class="progetto">
      <div class="col-6 img">
        <div class="card">
          <div class="card-inner">
            <img class="card-front" src="../../assets/Screenshot 2024-08-29 153059.png" alt="front-image">
            <img class="card-back" src="../../assets/Screenshot 2024-08-29 153207.png" alt="back-image">
          </div>
        </div>
      </div>
      <div class="col-6 text">
        <p class="description">Ebbene si, io ed i miei compagni abbiamo lavorato un intera settimana per realizzare un perfetto clone di spotify completamente funzionante! Questo significa che il riproduttore musicale posto in basso riusciva a riprodurre ogni singolo brano inserito nel database fittizio (essendo sempre un progetto esclusivamente Front-End), consentendo anche di abbassare o aumentare il volume, skippare le canzoni oppure tornare a quella precedente e spostarci in qualunque secondo del brano tramite la progress bar. Le tecnologie utilizzate per lo sviluppo di questo progetto sono le medesime del primo, con l'aggiunta di Bootstrap e di Sass per agevolare la scrittura del CSS.
        </p>
      </div>
    </div>
  </div>

  <div class="project container">
    <p class="title-card">E-Commerce</p>
    <div class="progetto">
      <div class="col-6 text">
        <p class="description">
          Un altro successo avuto durante la formazione è stato Nerdverse Emporium, un e-commerce dedicato esclusivamente ad oggetti di scena dei principali supereroi.In quest'occasione è stato implementato (non per la prima volta) un sistema di autorizzazione, tramite il quale era possibile registrarsi e loggarsi con le proprie credenziali, che venivano salvate all'interno del DB-Json. Per il suo sviluppo è stato usato Angular come framework front-end e Bootstrap come libreria CSS
        </p>
      </div>
      <div class="col-6 img">
        <div class="card">
          <div class="card-inner">
            <img class="card-front" src="../../assets/Screenshot 2024-08-29 234641.png" alt="front-image">
            <img class="card-back" src="../../assets/Screenshot 2024-08-29 234702.png" alt="back-image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project container">
    <p class="title-card">GEARGRAMM</p>
    <div class="progetto">
      <div class="col-6 img">
        <div class="card">
          <div class="card-inner">
            <img class="card-front" src="../../assets/Screenshot 2024-08-30 000203.png" alt="front-image">
            <img class="card-back" src="../../assets/Screenshot 2024-08-30 000219.png" alt="back-image">
          </div>
        </div>
      </div>
      <div class="col-6 text">
        <p class="description">E per ultimo, ma non per importanza, il già citato Geargramm, un social network innovativo, dinamico ed interamente incentrato sul mondo dei motori. Il social comprende una pagina dedicata ad i post degli utenti, in cui è possibile caricare un immagine ed una descrizione, mettere mi piace ai post degli altri utenti, commentarli e salvarli. Subito dopo troviamo una sezione che funge da marketplace, in cui gli utenti possono mettere in vendita i loro componenti usati. Troviamo anche una sezione dedicata ad i post salvati e ovviamente la propria pagina profilo, che indica sia gli utenti che ci seguono, sia gli utenti seguiti. Ovviamente tramite le due sezioni, cliccando sul nome o sull'avatar dell'utente, è possibile raggiungere la sua pagina profilo, in cui possiamo iniziare a seguirlo oppure rimuovere l'amicizia.
        Successivamente, prima del rilascio ufficiale, in Geargramm verrà implementata anche un altra sezione dedicata ad i tutorial, in cui gli utenti potranno pubblicare video puramente informativi su come svolgere determinati lavori, in modo tale che l'utente possa acquistare componenti usati e imparare a montarli per poi pubblicare il proprio mezzo, direttamente in un unico social network! Il progetto in questione è stato sviluppato sia lato front-end che back-end e le tecnologia usate sono: Angular come framework di sviluppo front-end e Bootstrap come libreria CSS, mentre il back-end è stato sviluppato esclusivamente in Java Spring, utilizzando PostgreSQL come database per l'immagazzinamento dei dati.
        </p>
      </div>
    </div>
  </div>

</div>
