// Definizione delle animazioni
@keyframes fadeIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-20px);
    opacity: 0;
  }
}

// Applicazione dell'animazione agli elementi di testo
.text-animate {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;

  &.visible {
    animation: fadeIn 0.8s forwards;
  }

  &.invisible {
    animation: fadeOut 0.8s forwards;
  }
}

// Per attivare l'animazione al momento dello scroll
.hero-section .hero-text,
.main .about-me,
.main .didascalia,
.intro,
.project .title-card,
.project .description,
.contact-me .intro {
  @extend .text-animate;
}

// Media queries per dispositivi piccoli
@media screen and (max-width: 768px) {
  .text-animate {
    transform: none;
  }
}


.hero-section {

  .image-slider {
    overflow: hidden;
    width: 100%;
    height: 110px; // Altezza regolabile
    margin-top: 40px;
    background-color: rgb(23, 23, 23);
    border-radius: 15px;

    .slider-track {
      display: flex;
      align-items: center;
      animation: slide 10s linear infinite;
      gap: 10px;

      .slide {
        height: 100%; // Altezza delle immagini
        flex-shrink: 0;
        padding: 15px;
        transition: transform 0.5s ease-in-out;
      }
    }

    @keyframes slide {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%);
      }

      // Scorrimento lungo metà della larghezza della traccia
    }

    // Media query per dispositivi grandi
    @media screen and (min-width: 1200px) {
      .slider-track {
        gap: 20px; // Maggiore spazio tra le immagini

        .slide {
          width: calc(100% / 17); // Adatta la larghezza per schermi grandi
        }
      }
    }

    // Media query per dispositivi medi
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .slider-track {
        gap: 15px; // Spazio tra le immagini

        .slide {
          width: calc(100% /12); // Adatta la larghezza per schermi medi
        }
      }
    }

    @media screen and (min-width: 431px) and (max-width: 767px) {
      .slider-track {
        gap: 10px;

        .slide {
          width: calc(100% / 8); // Adatta la larghezza per schermi piccoli
        }
      }
    }

    // Media query per dispositivi piccoli
    @media screen and (max-width: 430px) {
      height: 90px; // Riduzione dell'altezza per dispositivi piccoli

      .slider-track {
        gap: 10px;

        .slide {
          width: calc(100% / 6); // Adatta la larghezza per schermi piccoli
        }
      }
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deepBlue);
    color: var(--lightGray);
    margin: 50px 0 50px 0;
    border-radius: 15px;
    gap: 60px;
    transition: 1s;
    padding: 20px;

    &:hover {
      background-color: var(--darkBlue);
    }

    .about-me {
      font-size: 2.5rem;
      font-weight: bold;
      transition: 1s;

      span {
        font-size: 0.8rem;
        font-style: italic;
        font-weight: 400;
      }
    }

    .didascalia {
      max-width: 60%;

      span {
        font-style: italic;
        font-weight: bold;
      }
    }

    // Media query for smaller devices
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
      text-align: center;

      .about-me {
        font-size: 2rem;
      }

      .didascalia {
        max-width: 100%;
        font-size: 1rem;
      }
    }
  }

  .intro {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
  }

  .project {
    margin: 0 0 20px 0;
    height: 350px;

    .title-card {
      color: var(--deepBlue);
    }

    .title-card {
      text-align: center;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 600;
    }

    .reverse{
      display: flex;
      flex-direction: row-reverse;
    }
    .progetto {
      display: flex;
      justify-content: space-evenly;

      .img {
        max-width: 500px;

        .card {
          max-width: 500px;
          height: 300px;
          perspective: 1000px;
          background-color: #212A31;
          border: none;
        }

        .card-inner {
          width: 100%;
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 0.999s;
        }

        .card:hover .card-inner {
          transform: rotateY(180deg);
        }

        .card-front,
        .card-back {
          position: absolute;
          max-width: 100%;
          height: auto;
          backface-visibility: hidden;
        }

        .card-front {
          width: auto;
          max-height: 240px;
          border-radius: 10px;
          transform: rotateY(0deg);
        }

        .card-back {
          width: auto;
          border-radius: 10px;
          transform: rotateY(180deg);
        }
      }

      .text {
        padding: 0 0 0 0;
        margin: 0 0 0 10px;
        max-height: 225px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--lightBlue) transparent;

        .description {
          margin: 0;
        }

        &::-webkit-scrollbar {
          width: 8px;

        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--lightBlue);
          border-radius: 80px;
          border: 1px solid transparent;
          background-clip: content-box;
        }

        &::-webkit-scrollbar-button {
          display: none;
          height: 0;
          width: 0;
          color: transparent;
          background-color: transparent;

        }
      }

    }

  }

  @media screen and (max-width: 765px) {

    .project {
      margin: 60px 0 60px 0;



      .progetto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .img {
          width: 350px;

          .card {
            max-width: 500px;
            height: 200px;
          }
        }

        .text {
          max-height: 120px;
          width: 100%;
          margin: 0 0 10px 0;
        }
      }
    }

  }


  .social-login-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 0 90px 0;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
  }

  .social-login-icons svg {
    width: 40px;
  }

  .social-icon-1,
  .social-icon-1-1,
  .social-icon-2,
  .social-icon-2-2,
  .social-icon-3,
  .social-icon-3-3,
  .social-icon-4,
  .social-icon-4-4 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
  }

  .icon svg {
    fill: #111;
  }

  .socialcontainer {
    height: 80px;
    overflow: hidden;
  }

  .social-icon-1 {
    transition-duration: 0.4s;
    background-color: #0A66C2;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  }

  .social-icon-1 svg,
  .social-icon-2 svg,
  .social-icon-3 svg,
  .social-icon-4 svg {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }

  .social-icon-1-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0, 0);
  }

  .socialcontainer:hover .social-icon-1 {
    transform: translateY(-70px);
  }

  .socialcontainer:hover .social-icon-1 svg,
  .socialcontainer:hover .social-icon-2 svg,
  .socialcontainer:hover .social-icon-3 svg,
  .socialcontainer:hover .social-icon-4 svg {
    opacity: 1;
  }

  .social-icon-2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(72.44deg,
        #ff7a00 11.92%,
        #ff0169 51.56%,
        #d300c5 85.69%);
  }

  .socialcontainer:hover .social-icon-2 {
    transform: translateY(-70px);
  }

  .social-icon-3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #316ff6;
  }

  .socialcontainer:hover .social-icon-3 {
    transform: translateY(-70px);
  }

  .social-icon-4 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

    background: linear-gradient(180deg,
        rgba(129, 34, 144, 1) 0%,
        rgba(77, 34, 124, 1) 91%);
  }

  .socialcontainer:hover .social-icon-4 {
    transform: translateY(-70px);
  }


}




.hero-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  .btn {
    color: var(--deepBlue);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    font-family: "Poppins";
    margin-bottom: 8px;
    a{
      text-decoration: none;
      color: var(--deepBlue);
      transition: 0.2s;
    }
  }

  .btn:hover {
    color: black;
    a{
      text-decoration: none;
      color: black;
      transition: 0.2s;
    }
  }

  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: var(--lightBlue);
    z-index: -1;
    transition: all 1s;
  }

  .btn:hover::before {
    width: 160%;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--lightGray);
  font-family: "Poppins";
  font-style: normal;
  margin-top: 55px;
}

p {
  font-size: 1.2rem;
  margin-top: 25px;
  color: var(--lightGray);
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;

  .glow {
    font-style: normal;
    font-weight: bold;
    color: var(--deepBlue);
  }
}

.hero-image {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  .imgProfile {
    max-width: 90%;
    filter: drop-shadow(1rem 1rem 0rem var(--deepBlue));
    padding: 10px;
    margin: 10px 0 10px 0;
    transition: 0.1s;
    cursor: pointer;
    border-radius: 6%;

    &:hover {
      transition: 0.2s;
      transform: scale(1.05);
    }
  }
}

.hero-section.visible {
  visibility: visible;
}

.hero-section.visible .hero-text,
.hero-section.visible .hero-image {
  opacity: 1;
  transform: translateY(0);
}
